@font-face {
    font-family: "icones";
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
}

/*-- header --*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #15191C;
    align-items: center;
    padding: 8px 16px;
}

.cabecalho__logo {
    width: 40px;
}

.cabecalho__menu::before {
    content: "\e904";
    color: #FFFFFF;
    font-size: 1.5rem;
}

.cabecalho_notificacao::before {
    content: "\e906";
    color: #FFFFFF;
    font-size: 1.5rem;
}

/*-- Menu lateral --*/
.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 70vw;
    height: 100vh;
    
    position: absolute;
    left: -600px;
    z-index: 99;
    transition: .25s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral__logo {
    width: 118px;
    align-self: center;
    padding: 20px 0;
}

.menu-lateral__link { /* falta ajustar alinhamento do contúdo quando tem borda*/
    display: flex;
    align-items: center; /*-- alinhar todo o conteúdo dessa tag filho no meio*/
    height: 60px;
    padding-left: 60px;
}

.menu-lateral__link--ativo {
    border-left: solid 8px #FFFFFF;
    color: #FFFFFF;

}

.menu-lateral__link--inicio::before {
    content: "\e902";
    font-size: 1.3rem;
    position: absolute;
    left: 25px;
}

.menu-lateral__link--videos::before {
    content: "\e90e";
    font-size: 1.3rem;
    position: absolute;
    left: 25px;
}

.menu-lateral__link--picos::before {
    content: "\e908";
    font-size: 1.3rem;
    position: absolute;
    left: 25px;
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
    font-size: 1.3rem;
    position: absolute;
    left: 25px;
}

.menu-lateral__link--camisas::before {
    content: "\e900";
    font-size: 1.3rem;
    position: absolute;
    left: 25px;
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
    font-size: 1.3rem;
    position: absolute;
    left: 25px;
}

/*-- Conteúdo --*/
.conteudo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 15px;
}

.titulo {
    font-size: 1.7rem;
    font-weight: 700;
    color: #FFFFFF;
}

.titulo-videos {
    font-size: 1.2rem;
    font-weight: 700;
    color: #FFFFFF;
}

.cartao {
    width: 100%;
    overflow: hidden;
    color: #FFFFFF;
    background-color: #2C343A;
    border-radius: 16px;
}

.cartao__principal {
    height: 450px;
    margin-bottom: 12px;
}

.imagem-mapa {
    width: 100%;
    height: 100%;
}

.secao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.secao-videos {
    
}

.cartao__conteudo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 13px;
    padding: 15px 18px;
    align-items: center;
}

.cartao__perfil {
    font-size: .9rem;
    color: #95999C;
    grid-column: span 2;
}

.cartao__titulo {
    grid-column: span 2;
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao__visualizacoes {
    color: #95999C;
    font-size: .9rem;
}

.cartao__visualizacoes::before {
    content: "\e90f";
    margin-right: 8px;
}

.botao {
    background-color: #0480DC;
    color: #FFFFFF;
    border-radius: 8px;
}

.botao__localizacao {
    width: 40px;
    height: 40px;
    justify-self: end;
}

.botao__localizacao::before {
    content: "\e908";
    font-size: 1.5rem;
}